ion-content {
  overflow-x: hidden; /* Apenas barra lateral */
}

.container {
  background-color: var(--ion-background-color);
  max-height: 100vh;
  height: 100%;
  width: 100%; /* Garante que a largura do container seja 100% */
  box-sizing: border-box; /* Faz o padding não ultrapassar os limites da tela */
  padding: 0;  /* Remove qualquer padding extra */
}

.cards-function {
  width: 100%; /* Garante que os cartões ocupem toda a largura disponível */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.box {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-inner {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  margin: 1.5rem; /* Ajuste o espaçamento externo */
  padding: 3rem 1rem 1rem; /* Adiciona mais espaçamento superior */
  position: relative;
}

.circle-icon {
  width: 80px;
  height: 80px;
  background-color: var(--ion-color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}


.container, .cards-function {
  overflow-x: hidden;
}
.circle-icon ion-icon {
  font-size: 48px;
  color: #FFFFFF;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #292829;
  margin-top: 1.5rem; /* Espaçamento extra acima do título */
}

.description-card {
  text-align: center;
  margin-top: 1rem; /* Ajuste para descer os textos */
}

.description-card h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #8A8A8A;
  text-transform: uppercase;
}

.description-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #292829;
  text-transform: uppercase;
}

.menu-fixed-bottom {
  background-color: white;
  border-top: 1px solid #E8E8E8;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
}

.content-menu-border {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.go-init, .go-fila, .go-config, .go-exit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-icon {
  font-size: 24px;
  color: #007bff;
}

ion-label a {
  text-decoration: none;
  color: #007bff;
  font-size: 12px;
}
