<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>SELECIONE O PERFIL</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="cards-function">
      <ion-card class="box" routerLink="/select-company">
        <div class="card-inner">
          <div class="circle-icon">
            <ion-icon name="person-circle"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-title class="card-title">Usuário</ion-card-title>
          </ion-card-header>
          <ion-card-content class="description-card">
            <h2>BUSCANDO O SERVIÇO</h2>
            <h3>Eu sou um cliente</h3>
          </ion-card-content>
        </div>
      </ion-card>


      <ion-card class="box" *ngIf="!usuario?.company" (click)="criarEmpresa()">
        <div class="card-inner">
          <div class="circle-icon add-icon">
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-title class="card-title">Criar uma Empresa</ion-card-title>
          </ion-card-header>
          <ion-card-content class="description-card">
            <h2>Criar uma empresa no app ?</h2>
            <h3>Toque aqui para cadastrar</h3>
          </ion-card-content>
        </div>
      </ion-card>

      <ion-card class="box" *ngIf="usuario?.company" routerLink="/costumer-list-in-queue">
        <div class="card-inner">
          <div class="circle-icon">
            <ion-icon name="briefcase"></ion-icon>
          </div>
          <ion-card-header>
            <ion-card-title class="card-title">Proprietário</ion-card-title>
          </ion-card-header>
          <ion-card-content class="description-card">
            <h2>Estabelecimento</h2>
            <h3>Eu sou um profissional</h3>
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
