/* Page layout */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.login-container {
    background: #FFFFFF;
    border-radius: 0px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.login-logo {
    text-align: center;
    margin-bottom: 7rem; /* Aumentar o espaço entre a logo e os inputs */
}

.logo {
    width: 100px;
}

/* Form styling */
.login-form ion-item {
    margin-bottom: 1.5rem;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.login-form ion-input {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333;
}

/* Ajustar a posição do "Forgot Password?" */
.forgot-password {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #004acd;
    text-align: right;
    display: block;
    margin-top: -1rem; /* Levanta o texto para ajustar a posição */
    margin-bottom: 1.5rem; /* Espaçamento adequado abaixo do input */
    text-decoration: none;
}

/* Login button */
.login-actions .login-btn {
    background-color: #FF5678;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.login-actions .login-btn:hover {
    background-color: #E95468;
}

/* Social Login */
.social-login {
    text-align: center;
    margin: 1.5rem 0;
}

.social-login p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #888;
}

.social-login ion-icon {
    font-size: 2rem;
    color: #004acd; /* Cor azul para os ícones de rede social */
}

.social-login ion-col {
    display: flex;
    justify-content: center;
}

/* Sign Up */
.signup p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #888;
    text-align: center;
}

.signup a {
    color: #FF5678;
    text-decoration: none;
}
