<ion-content class="ion-padding login-page" scroll="false">
  <div class="login-container">
    <div class="login-logo">
      <img class="logo" src="assets/images/login/logo-login.svg" alt="Logo" />
    </div>

    <div class="login-form">
      <form (submit)="login()">
        <ion-item lines="none">
          <ion-input type="email" placeholder="e-mail/celular" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item lines="none" class="password-container">
          <ion-input type="password" placeholder="senha" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <a routerLink="/generate-password" class="forgot-password">Esqueceu a senha?</a>

        <div class="login-actions">
          <ion-button expand="full" type="submit" class="login-btn">Login</ion-button>
        </div>

        <div class="social-login">
          <p>Ou faça login com</p>
          <ion-row>
            <ion-col><ion-icon name="logo-facebook"></ion-icon></ion-col>
            <ion-col><ion-icon name="logo-google"></ion-icon></ion-col>
            <ion-col><ion-icon name="logo-linkedin"></ion-icon></ion-col>
          </ion-row>
        </div>

        <div class="signup">
          <p>Não tem conta? <a routerLink="/create-account"> Cadastre-se</a></p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
