<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/customer-list-in-queue"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>ATENDENDO</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div class="atendimento-container">
    <div class="atendimento-card">
      <div class="avatar-wrapper">
        <ion-icon name="person-circle-outline" class="cliente-icon"></ion-icon>
      </div>
      <h1>{{ cliente.nome }}</h1>

      <div class="servicos-container">
        <div *ngFor="let servico of cliente.servicos" class="servico-item">
          <div class="servico-info">
            <ion-icon name="cut-outline" class="info-icon"></ion-icon>
            <span class="servico-nome">{{ servico.nome }}</span>
          </div>
          <div class="servico-detalhes">
            <span class="servico-quantidade">x{{ servico.quantidade }}</span>
            <span class="servico-valor">{{ servico.valor | currency:'BRL' }}</span>
          </div>
        </div>
      </div>

      <div class="total-container">
        <span>Total:</span>
        <span class="total-valor">{{ calcularTotal() | currency:'BRL' }}</span>
      </div>

      <div class="info-bloco">
        <ion-icon name="card-outline" class="info-icon"></ion-icon>
        <p>{{ cliente.pagamento }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" size="large" shape="round" (click)="confirmarFinalizacao()">
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      Finalizar Serviço
    </ion-button>
  </ion-toolbar>
</ion-footer>