<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CONFIGURAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [formGroup]="cadastroForm">
  <div class="logo-wrapper">
    <div class="logo-container" (click)="selecionarImagem()">
      <img
        *ngIf="imagemPreview"
        [src]="imagemPreview"
        alt="Logo Preview"
        class="logo-preview"
      />
      <ion-icon
        *ngIf="!imagemPreview"
        name="cloud-upload-outline"
        class="upload-icon"
      ></ion-icon>
      <input
        type="file"
        hidden
        accept="image/*"
        #fileInput
        (change)="onImagemSelecionada($event)"
      />
    </div>
    <div class="logo-msg">Clique para enviar foto</div>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input
        type="text"
        formControlName="cpf"
        maxlength="14"
        (ionInput)="formatarCPF($event)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">NOME</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ENDEREÇO</ion-label>
      <ion-input formControlName="endereco"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">SENHA</ion-label>
    <ion-input formControlName="senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">SUBTÍTULO</ion-label>
    <ion-input formControlName="subtitle"></ion-input>
  </ion-item>

  dd
  <ion-item>
    <ion-label position="floating">SERVIÇOS PRESTADOS</ion-label>
    <ion-input formControlName="servicesProvided"></ion-input>
  </ion-item>

  <ion-item class="item-with-toggle">
    <ion-label>Não aceitar mensagens de outros usuários</ion-label>
    <ion-toggle formControlName="aceitarMensagemOutrosUsuarios"></ion-toggle>
  </ion-item>

  <div class="wallpaper-wrapper">
    <div class="wallpaper-container" (click)="selecionarWallpaper()">
      <img
        *ngIf="wallpaperPreview"
        [src]="wallpaperPreview"
        alt="Wallpaper Preview"
        class="wallpaper-preview"
      />
      <ion-icon
        *ngIf="!wallpaperPreview"
        name="image-outline"
        class="upload-icon"
      ></ion-icon>
      <div class="overlay">Clique para alterar</div>
      <input
        type="file"
        hidden
        accept="image/*"
        #wallpaperInput
        (change)="onWallpaperSelecionado($event)"
      />
    </div>
    <div class="wallpaper-msg">
      Clique para enviar o papel de parede para seu perfil
    </div>

    <button
      *ngIf="wallpaperPreview"
      class="remove-wallpaper-btn"
      (click)="removerWallpaper()"
    >
      Remover Papel de Parede
    </button>
  </div>

  <ion-button
    expand="block"
    color="primary"
    class="btn-cadastro"
    [disabled]="enviando || enviado"
    (click)="enviar()"
  >
    <ion-spinner *ngIf="enviando" name="crescent"></ion-spinner>
    <span *ngIf="!enviando && !enviado">SALVAR</span>
    <ion-icon
      *ngIf="enviado"
      name="checkmark-circle"
      class="check-icon"
    ></ion-icon>
  </ion-button>
</ion-content>
