<app-custom-header
  title="PERFIL USUÁRIO"
  [showStartButton]="true"
  startIconName="close-outline"
  (onStartClick)="getBack()"
  [showEndButton]="true"
  (onEndClick)="save()"
  endIconName="checkmark"
></app-custom-header>

<ion-content
  [fullscreen]="false"
  class="ion-padding"
  [formGroup]="cadastroForm"
>
  <div class="profile-section">
    <div class="avatar-upload" (click)="selectImage()">
      @if (imagemPreview) {
      <img [src]="imagemPreview" alt="Foto de perfil" class="avatar-image" />
      } @else {
      <div class="avatar-placeholder">
        <ion-icon name="person-outline" class="placeholder-icon"></ion-icon>
      </div>
      }
      <div class="upload-overlay">
        <ion-icon name="camera-outline" class="camera-icon"></ion-icon>
      </div>
      <input
        type="file"
        hidden
        accept="image/*"
        #fileInput
        (change)="onImagemSelected($event)"
      />
    </div>
    <ion-note class="upload-hint">Toque para alterar sua foto</ion-note>
  </div>

  <ion-list lines="none" class="form-section">
    <ion-item fill="solid"  disabled="true" class="form-item">
      <ion-label position="floating">CPF</ion-label>
      <ion-input
        type="text"
        formControlName="cpf"
        maxlength="14"
        (ionInput)="formatCPF($event)"
      ></ion-input>
    </ion-item>

    <ion-item fill="solid" class="form-item">
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="form-item">
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>

    <div class="row">
      <ion-item fill="solid" class="form-item number" lines="none">
        <ion-label position="floating">DDD</ion-label>
        <ion-input formControlName="ddd"></ion-input>
      </ion-item>
      <ion-item fill="solid" class="form-item address" lines="none">
        <ion-label position="floating">Celular</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item fill="solid" class="form-item address" lines="none">
        <ion-label position="floating">Endereço</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <ion-item fill="solid" class="form-item number" lines="none">
        <ion-label position="floating">Número</ion-label>
        <ion-input formControlName="number"></ion-input>
      </ion-item>
    </div>

    <div class="row">
      <ion-item fill="solid" class="form-item address" lines="none">
        <ion-label position="floating">Cidade</ion-label>
        <ion-input formControlName="city"></ion-input>
        
      </ion-item>
      <ion-item fill="solid" class="form-item number" lines="none">
        <ion-label position="floating">Estado</ion-label>
        <ion-select formControlName="stateId" interface="action-sheet">
          <ion-select-option
            *ngFor="let estado of brazilianStates"
            [value]="estado.acronym"
          >
            {{estado.acronym}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-item fill="solid" class="form-item">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input formControlName="email" [clearOnEdit]="false"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="form-item">
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        [clearOnEdit]="false"
      ></ion-input>
    </ion-item>

    <ion-item fill="solid" class="form-item">
      <ion-label position="floating">Subtítulo</ion-label>
      <ion-input formControlName="subtitle"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="form-item">
      <ion-label position="floating">Serviços prestados</ion-label>
      <ion-input formControlName="servicesProvided"></ion-input>
    </ion-item>

    <ion-item fill="solid" class="toggle-item">
      <ion-toggle
        formControlName="acceptAwaysMinorQueue"
        slot="end"
      ></ion-toggle>
      <ion-label
        >Aceitar sempre a menor fila ao entrar no estabelecimento</ion-label
      >
    </ion-item>
  </ion-list>

  <!-- Para o futuro, será inserido o papel de parede, mas só quando tiver a tela de mostrar os dados do cliente -->
  <div class="wallpaper-section" *ngIf="false">
    <ion-label class="section-title">Papel de parede do perfil</ion-label>
    <div class="wallpaper-upload" (click)="selectWallpaper()">
      @if (wallpaperPreview) {
      <img [src]="wallpaperPreview" alt="Wallpaper" class="wallpaper-image" />
      } @else {
      <div class="wallpaper-placeholder">
        <ion-icon name="image-outline" class="placeholder-icon"></ion-icon>
        <span>Selecionar imagem</span>
      </div>
      }
      <input
        type="file"
        hidden
        accept="image/*"
        #wallpaperInput
        (change)="onWallpaperSelected($event)"
      />
    </div>

    @if (wallpaperPreview) {
    <ion-button
      fill="clear"
      color="danger"
      size="small"
      (click)="removerWallpaper()"
      class="remove-button"
    >
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      Remover
    </ion-button>
    }
  </div>
  <ion-item fill="solid" class="toggle-item delete-account-item">
    <ion-toggle
      formControlName="deleteAccount"
      (ionChange)="onDeleteAccountToggle($event)"
      slot="end"
    ></ion-toggle>
    <ion-label class="delete-label">Deletar minha conta</ion-label>
  </ion-item>
</ion-content>

<app-footer-menu></app-footer-menu>
