<ion-footer>
  <div class="menu-fixed-bottom">
    <div class="content-menu-border">
      <div class="go-init">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>INÍCIO</ion-label>
      </div>
      <div class="go-fila">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>FILA</ion-label>
      </div>
      <div class="go-config notification-footer">
        <ion-icon name="notifications-outline"></ion-icon>
        <span *ngIf="notificationsCount > 0" class="notification-badge">{{ notificationsCount }}</span>
        <ion-label>NOTIFICAÇÕES</ion-label>
      </div>
      <div class="go-menu">
        <ion-menu-button></ion-menu-button>
        <ion-label>MENU</ion-label>
      </div>
    </div>
  </div>
</ion-footer>
