<ion-footer class="menu-fixed-bottom">
  <div class="content-menu-border">
    <div class="footer-item">
      <ion-icon
        name="home-outline"
        aria-label="Início"
        (click)="goToHome(true)"
      ></ion-icon>
      <ion-label>INÍCIO</ion-label>
    </div>

    <div class="footer-item promotion-wrapper" style="pointer-events: none;">
      <ion-icon
        name="pricetags-outline"
        (click)="goToPromotions()"
        aria-label="Promoções"
      ></ion-icon>
      <span class="coming-soon-badge">EM BREVE</span>
      <ion-label>PROMOÇÕES</ion-label>
    </div>

    <div class="placeholder"></div>

    <div class="footer-item notification-wrapper">
      <ion-icon
        name="notifications-outline"
        aria-label="Notificações"
        (click)="goToNotifications()"
      ></ion-icon>
      <span
        class="notification-badge"
        *ngIf="notificationsCount$ | async as contador"
      >
        {{ contador }}
      </span>
      <ion-label>NOTIFICAÇÕES</ion-label>
    </div>

    <div class="footer-item">
      <ion-icon
        name="menu-outline"
        aria-label="Menu"
        (click)="openMenu()"
      ></ion-icon>
      <ion-label>MENUS</ion-label>
    </div>
  </div>

  <div class="go-fila-central" (click)="goToHome()">
    <div class="fila-button">
      <ion-icon name="people-outline" aria-label="Filas"></ion-icon>
    </div>
    <ion-label>FILAS</ion-label>
  </div>
</ion-footer>