<app-custom-header
  title="DETALHES DA FILA"
  [showStartButton]="true"
  startIconName="arrow-back"
  [showEndButton]="false"
></app-custom-header>

<ion-content class="ion-padding">
  <div class="details-header">
    <h2>RESUMO DO DIA - {{ selectedDate | date:'dd/MM/yyyy' }}</h2>

    <div class="resumo-valores">
      <div class="resumo-item">
        <ion-icon name="people-outline"></ion-icon>
        <span>Total Atendidos: <strong>{{ totalAttendedClients }}</strong></span>
      </div>

      <div class="resumo-item">
        <ion-icon name="cash-outline"></ion-icon>
        <span>Dinheiro: <strong>R$ {{ totalCash }}</strong></span>
      </div>

      <div class="resumo-item">
        <ion-icon name="card-outline"></ion-icon>
        <span>Cartão: <strong>R$ {{ totalCard }}</strong></span>
      </div>

      <div class="resumo-item">
        <ion-icon name="qr-code-outline"></ion-icon>
        <span>PIX: <strong>R$ {{ totalPix }}</strong></span>
      </div>

      <div class="resumo-item total-final">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <span>Total do Dia: <strong>R$ {{ total }}</strong></span>
      </div>
    </div>
  </div>

  <div class="clients-list">
    <h3>CLIENTES ATENDIDOS</h3>

   <ion-list lines="none">
  <ion-item *ngFor="let client of report?.data">
    <ion-avatar slot="start">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>

    <ion-label>
      <h4>{{ client.name }}</h4>
      <div class="client-info">
        <p><ion-icon name="time-outline"></ion-icon> {{ client.startTime | date:'HH:mm' }} - {{ client.endTime | date:'HH:mm' }}</p>
        <p><ion-icon name="hourglass-outline"></ion-icon> Tempo Total: {{ client.totalTime }} min</p>
        <p><ion-icon name="stopwatch-outline"></ion-icon> Atendimento: {{ client.atendimentoDuration }} min</p>
        <p><ion-icon name="card-outline"></ion-icon> {{ client.paymentMethod }}</p>
        <p><ion-icon name="cash-outline"></ion-icon> R$ {{ client.amount }}</p>
      </div>
    </ion-label>
  </ion-item>
</ion-list>

  </div>
</ion-content>

<app-footer-menu></app-footer-menu>
