<ion-content id="main-content">
  <router-outlet></router-outlet>
</ion-content>

<ion-footer>
  <div class="menu-fixed-bottom">
    <div class="content-menu-border">
      <div class="go-init" routerLink="/role-registration">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Início</ion-label>
      </div>
      <div class="go-fila" routerLink="/queue">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Fila</ion-label>
      </div>
      <div class="go-config">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Config</ion-label>
      </div>
      <div class="go-menu">
        <ion-menu-button></ion-menu-button>
        <ion-label>Menu</ion-label>
      </div>
    </div>
  </div>
</ion-footer>
