<div class="splash-screen">
  <div class="animated-background"></div>

  <div class="bg-logo fade-in">
    <img src="assets/images/splash/Logo.svg" alt="Logo" />
  </div>

  <div class="loading-event">
    <div class="dual-spinner">
      <div class="circle outer"></div>
      <div class="circle inner"></div>
    </div>
  </div> 

  <div class="version fade-in">
    UFF - Universidade Federal Fluminense <br />
    Aluno: Bruno Peçanha e Millena Costa <br />
    Versão 1.0
  </div>

  <div class="university-logo fade-in">
    <img src="assets/images/utils/logo-uff.png" alt="Emblema da faculdade" />
  </div>
</div>
