<ion-header>
  <ion-toolbar>
    <ion-title>SELECIONE UMA OPÇÂO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="cards-function">
      <!-- Cliente Card -->
      <ion-card class="box" routerLink="/select-company">
        <ion-card-header class="card-bg-blue">
          <ion-card-title class="card-title">USUÁRIO</ion-card-title>
        </ion-card-header>
        <ion-card-content class="description-card">
          <h2>BUSCANDO O SERVIÇO</h2>
          <h3>Eu sou um cliente</h3>
        </ion-card-content>
      </ion-card>
      

      <!-- Profissional Card -->
      <!-- <ion-card class="box" routerLink="/professional-registration">
        <ion-card-header class="card-bg-blue">
          <ion-card-title class="card-title">EMPRESA</ion-card-title>
        </ion-card-header>
        <ion-card-content class="description-card">
          <h2>Estabelecimento</h2>
          <h3>EU SOU UM PROFISSIONAL</h3>
        </ion-card-content>
      </ion-card> -->
    </div>
  </div>
</ion-content>
