.container {
  background-color: var(--ion-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-companies {
  background-color: #FFFFFF;
  padding: 0.8rem 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.carousel-companies .company {
  text-align: center;
  margin: 0 0.5rem;
  color: white;
}

.company {
  text-align: center;
  margin: 0 0.5rem;
  padding-bottom: 5%;
}

.carousel-companies img {
  max-height: 2.5rem;
  max-width: 2rem;
}

.company h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #8A8A8A;
  margin-top: 0.2rem;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 8rem;
}

.cards-companies {
  width: 90%;
  margin: 2rem auto;
}

.box {
  background: #FBFBFB;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  margin: 2.5rem 0;
}

.box:hover {
  background-color: #a0979736;
}

.card-bg-blue {
  background-color: var(--ion-color-primary);
  padding: 2rem 0;
  border-radius: 10px 10px 0 0;
}

.card-bg-blue h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.description-card {
  padding: 0rem;
}

swiper-container {
  padding-bottom: 0%;
}

.description-card h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  color: #8A8A8A;
}

.description-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #FF0000;
}


.menu-fixed-bottom {
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #E8E8E8;
}

.content-menu-border {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.go-init ion-icon,
.go-fila ion-icon,
.go-config ion-icon {
  font-size: 25px;
  color: #007bff;
}

.go-init ion-label,
.go-fila ion-label,
.go-config ion-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #8A8A8A;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.menu-fixed-bottom {
  background-color: white;
  border-top: 1px solid #E8E8E8;
}

.content-menu-border {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.go-init,
.go-fila,
.go-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-icon {
  font-size: 24px;
}

ion-label {
  margin-top: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8A8A8A;
}

ion-label a {
  text-decoration: none;
  color: #007bff;
  font-size: 12px;
}

ion-card-title {
  text-align: center;
}

.card-bg-blue ion-card-title {
  color: white;
}

.swiper-container-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-arrow-left, .swiper-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: rgba(0, 84, 233);
  z-index: 10;
  pointer-events: none;
}

.swiper-arrow-left {
  left: 10px;
}

.swiper-arrow-right {
  right: 10px;
}

.company img {
  display: block;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
}

.company-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.card-background {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
}

.inner-card {
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  margin-top: -50px;
  box-shadow: 0px -10px 30px rgba(0,0,0,0.2);
  position: relative;
  text-align: center;
}

.logo-container {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.company-logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d3d3d3;
}

.company-info {
  margin-top: 40px;
}

.company-info h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.company-info p {
  margin: 4px 0;
  color: #666;
}

.company-info ion-chip {
  display: flex;
  align-items: center;
}

.company-info ion-chip ion-icon {
  margin-right: 10px;
}


.fixed-recent-visits {
  position: fixed;
  bottom: 45px; 
  padding-left: 15px;
  z-index: 10;
  border-radius: 8px;
  display: flex;
  justify-content: center; 
}

.recent-cards-container {
  display: flex;
  max-width: 600px; 
}

.recent-card {
  flex: 1;
  //margin: 0 15px; 
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 150px; 
}

.recent-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px; 
}

.recent-logo-container {
  width: 50px; 
  height: 50px;
  background-color: #d3d3d3;
  border-radius: 50%;
  margin-bottom: 10px; 
}

.recent-company-logo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.recent-company-info h2 {
  font-size: 12px; 
  font-weight: bold;
  color: #333;
  text-align: center;
}

.recent-company-info p {
  font-size: 10px; 
  color: #666;
  text-align: center;
  margin-top: 5px;
}

.visited-title {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 13px; 
  font-weight: bold;
  text-align: center;
}


@media (max-width: 768px) {
  .recent-cards-container {
    flex-direction: row;
  }

  .recent-card {
    margin: 0 8px; 
  }
}
