<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button
      defaultHref="/role-registration"
      text=""
      icon="arrow-back-outline"
    ></ion-back-button>
  </ion-buttons>


  <ng-container *ngIf="!searching; else searchBar">
    <ion-title *ngIf="!searching">ESTABELECIMENTOS</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="toggleSearch()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-container>

  <ng-template #searchBar>
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="onSearch($event)"
      placeholder="Filtrar"
      (ionCancel)="toggleSearch()"
      clear-input="false"
      [showClearButton]="false"
    >
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</ion-toolbar>

<div class="horizontal-scroll" *ngIf="categories?.length">
  <div
    class="service-type-card"
    *ngFor="let category of categories"
    (click)="selectCategory(category.id)"
    [class.selected]="selectedCategoryId === category.id"
  >
    <img [src]="category.imgPath" alt="{{ category.name }}" />
    <h2>{{ category.name }}</h2>
  </div>
</div>

<ion-content fullscreen="true">
  <div class="cards-companies container">
    <ion-card
      class="box full-card"
      *ngFor="let card of filteredCards"
      (click)="selectCard(card)"
    >
      <ion-icon
        name="{{ card.liked ? 'heart' : 'heart-outline' }}"
        class="like-icon"
        (click)="toggleLike(card, $event)"
      ></ion-icon>

      <ion-card-content>
        <div class="inner-card">
          <div class="logo-container">
            <ng-container *ngIf="card.logoPath; else defaultLogo">
              <img
                [src]="card.logoPath"
                alt="{{ card.name }} logo"
                class="company-logo"
              />
            </ng-container>
            <ng-template #defaultLogo>
              <ion-icon name="business" class="company-logo default-logo"></ion-icon>
            </ng-template>
          </div>
          <div class="company-info">
            <h2>{{ card.name }}</h2>
            <p>{{ card.category }}</p>
            <!-- <p> Fila menor: {{ card.minorQueue }} pessoas</p>            -->
            <p>Fila menor: 4 pessoas</p>
            <ion-chip color="success" class="ratting-area">
              <ion-icon class="star-icon" name="star"></ion-icon>
              {{ card.rating }} ({{ card.votes }} avaliações)
            </ion-chip>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-footer-menu></app-footer-menu>
