<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title>ESTABELECIMENTOS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentSearchPopup()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="horizontal-scroll" *ngIf="serviceTypes?.length">
  <div
    class="service-type-card"
    *ngFor="let serviceType of serviceTypes"
    (click)="selectService(serviceType)"
  >
    <img [src]="serviceType.img" alt="{{ serviceType.name }}" />
    <h2>{{ serviceType.name }}</h2>
  </div>
</div>

<ion-content fullscreen="true">
  <div class="cards-companies container">
    <ion-card
      class="box"
      *ngFor="let card of companyCards"
      routerLink="/select-professional"
    >
      <ion-card-content>
        <div class="inner-card">
          <div class="logo-container">
            <img
              [src]="card.img"
              alt="{{ card.name }} logo"
              class="company-logo"
            />
          </div>
          <div class="company-info">
            <h2>{{ card.name }}</h2>
            <p>{{ card.type }}</p>
            <p>{{ card.queue }}</p>
            <ion-chip color="success" class="ratting-area">
              <ion-icon name="star"></ion-icon>
              4.8 (963 avaliações)
            </ion-chip>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <div class="menu-fixed-bottom">
    <div class="content-menu-border">
      <!-- Adicionando o menu no rodapé -->
      <div class="go-init">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Início</ion-label>
      </div>
      <div class="go-fila">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Fila</ion-label>
      </div>
      <div class="go-config notification-footer">
        <ion-icon name="notifications-outline"></ion-icon>
        <span class="notification-badge">3</span>
        <ion-label>NOTIFICAÇÕES</ion-label>
      </div>
      <!-- Aqui está o menu button no rodapé -->
      <div class="go-menu">
        <ion-menu-button></ion-menu-button>
        <ion-label>Menu</ion-label>
      </div>
    </div>
  </div>
</ion-footer>
