<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>GERENC. FILAS</ion-title>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        (click)="openQueue()"
        [disabled]="hasTodayOpenQueue"
        class="add-button"
      >
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filters">
    <div class="filter-buttons">
      <ion-button
        expand="block"
        shape="round"
        size="large"
        fill="solid"
        class="date-filter-button"
        (click)="openCalendar()"
        [disabled]="hasTodayOpenQueue"
      >
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>FILTRAR POR DATA</ion-label>
      </ion-button>

      <ion-button
        *ngIf="filterDate"
        expand="block"
        shape="round"
        size="large"
        fill="outline"
        color="medium"
        (click)="clearDateFilter()"
      >
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        <ion-text>REMOVER FILTRO</ion-text>
      </ion-button>
    </div>
  </div>

  <div class="queue-list">
    <ion-card
      *ngFor="let queue of filteredQueues"
      [class.today-open]="queue.status === 'Aberta' && queue.date === today"
    >
      <ion-card-header>
        <ion-card-title class="card-title-with-icon">
          <ion-icon
            [name]="getQueueIcon(queue.name)"
            slot="start"
            style="margin-right: 6px"
          >
          </ion-icon>
          {{ queue.name }}
        </ion-card-title>
        <ion-badge
          *ngIf="queue.status === 'Aberta' && queue.date === today"
          color="success"
          style="margin-left: 8px; margin-top: 4px"
        >
          ABERTA HOJE
        </ion-badge>
        <ion-card-subtitle>
          {{ queue.date | date: 'dd/MM/yyyy' }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>{{ queue.status }}</p>
        <p>
          <ion-icon name="people-outline"></ion-icon>
          {{ queue.currentCount }} pessoa(s) na fila
        </p>
        <ion-button
          expand="block"
          fill="outline"
          (click)="viewQueueDetails(queue)"
        >
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          VER DETALHES
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-modal
  [isOpen]="calendarOpen"
  (didDismiss)="closeCalendar()"
  cssClass="custom-calendar-modal"
>
  <ng-template>
    <div class="calendar-wrapper">
      <ion-datetime
        class="centered-datetime"
        presentation="date"
        (ionChange)="onDateChange($event)"
      >
      </ion-datetime>
    </div>
  </ng-template>
</ion-modal>

<app-footer-menu></app-footer-menu>
