<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/select-company"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>NOTIFICAÇÕES</ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-accordion-group (ionChange)="aoAbrirNotificacao($event)">
      <ion-accordion
        *ngFor="let noti of notificacoes; let i = index"
        [value]="noti.id"
      >
        <ion-item
          slot="header"
          class="notification-item"
          [class.nao-lida]="!noti.lida"
          [class.lida]="noti.lida"
          lines="none"
        >
          <div class="indicator" [class.nova]="!noti.lida"></div>

          <ion-label>
            {{ noti.titulo }}
            <ion-badge *ngIf="!noti.lida" color="primary" class="badge-nova"
              >Nova</ion-badge
            >
          </ion-label>

          <ion-button
            fill="clear"
            color="danger"
            size="small"
            (click)="removerNotificacao(i)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <div class="ion-padding" slot="content">{{ noti.mensagem }}</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

  <div *ngIf="notificacoes.length === 0" class="no-notificacoes">
    Não há notificações novas.
  </div>
</ion-content>

<app-footer-menu></app-footer-menu>
