<ion-app>
  <ion-menu contentId="main-content" side="start" menuId="first">
    <ion-content class="menu-content">
      
      <div class="menu-header">
        <img src="assets/images/splash/Logo.svg"  alt="Logo do sistema" class="logo"  />
        <div class="app-title">Sua Vez App</div>
      </div>

      <div class="user-info">
        <img src="assets/images/company-logo/kingssons.jpeg" alt="Avatar" class="user-avatar" />
        <div>
          <div class="user-name">Bruno Peçanha</div>
          <div class="user-email">Aguaradndo na fila..</div>
        </div>
      </div>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/role-registration">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Início</ion-label>
          </ion-item>
          <ion-item routerLink="/queue">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Fila</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Configurações</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <div class="menu-footer">
        <small>Versão 1.0.0 - Versão Beta</small>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
