<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CONFIGURAÇÕES</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [formGroup]="cadastroForm">

  <!-- Área de Upload Logo -->
  <div class="logo-wrapper">
    <div class="logo-container" (click)="selecionarImagem()">
      <img *ngIf="imagemPreview" [src]="imagemPreview" alt="Logo Preview" class="logo-preview" />
      <ion-icon *ngIf="!imagemPreview" name="cloud-upload-outline" class="upload-icon"></ion-icon>
      <input type="file" hidden accept="image/*" #fileInput (change)="onImagemSelecionada($event)" />
    </div>
    <div class="logo-msg">Clique para enviar a logo</div>
  </div>

  <!-- Campos Básicos -->
  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="text" formControlName="cpf" maxlength="14" (ionInput)="formatarCPF($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input type="text" formControlName="cnpj" maxlength="18" (ionInput)="formatarCNPJ($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome da Empresa</ion-label>
      <ion-input formControlName="nomeEmpresa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input formControlName="endereco"></ion-input>
    </ion-item>
  </ion-list>

  <!-- Horários -->
  <div class="horario-box">
    <ion-label class="label-titulo">Horários de Atendimento *</ion-label>
    <div class="horario-scroll">
      <ion-grid>
        <ion-row *ngFor="let dia of diasSemana; let i = index" [formGroup]="getHorarioFormGroup(i)" class="ion-align-items-center">
          <ion-col size="4">
            <ion-label>{{ dia }}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-toggle formControlName="ativo"></ion-toggle>
          </ion-col>
          <ion-col size="6" *ngIf="getHorarioFormGroup(i).get('ativo')?.value">
            <ion-item>
              <ion-label position="floating">Início</ion-label>
              <ion-input type="time" formControlName="inicio"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Fim</ion-label>
              <ion-input type="time" formControlName="fim"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-item lines="none" class="ion-margin-top">
      <ion-label>Abrir fila automaticamente</ion-label>
      <ion-toggle formControlName="abrirAutomaticamente"></ion-toggle>
    </ion-item>
  </div>

  <!-- Outras Configurações -->
  <ion-list lines="none">
    <ion-item>
      <ion-label>Aceitar pessoas em outras filas</ion-label>
      <ion-toggle formControlName="aceitarOutrasFilas"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Atender fora de ordem</ion-label>
      <ion-toggle formControlName="atenderForaDeOrdem"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Atender com hora marcada</ion-label>
      <ion-toggle formControlName="atenderHoraMarcada"></ion-toggle>
    </ion-item>
  </ion-list>

  <!-- Papel de Parede da Loja -->
  <div class="wallpaper-wrapper">
    <div class="wallpaper-container" (click)="selecionarWallpaper()">
      <img *ngIf="wallpaperPreview" [src]="wallpaperPreview" alt="Wallpaper Preview" class="wallpaper-preview" />
      <ion-icon *ngIf="!wallpaperPreview" name="image-outline" class="upload-icon"></ion-icon>
      <div class="overlay">Clique para alterar</div>
      <input type="file" hidden accept="image/*" #wallpaperInput (change)="onWallpaperSelecionado($event)" />
    </div>
    <div class="wallpaper-msg">Clique para enviar o papel de parede da loja</div>

    <button *ngIf="wallpaperPreview" class="remove-wallpaper-btn" (click)="removerWallpaper()">
      Remover Papel de Parede
    </button>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">Subtítulo da Loja</ion-label>
      <ion-input formControlName="subtituloLoja"></ion-input>
    </ion-item>
  </ion-list>

<!-- Ícones e Frases -->
<div class="icone-frase-wrapper ion-margin-top">
  <ion-label class="label-titulo">Destaques da Loja:</ion-label>

  <div formArrayName="destaques">
    <div *ngFor="let destaque of destaques.controls; let i = index" [formGroupName]="i" class="icone-frase-item">
      <ion-item>
        <ion-select formControlName="icone" placeholder="Escolher ícone">
          <ion-select-option value="flame">🔥 Fogo</ion-select-option>
          <ion-select-option value="cut">✂️ Tesoura</ion-select-option>
          <ion-select-option value="chair">🪑 Cadeira</ion-select-option>
        </ion-select>

        <ion-input formControlName="frase" placeholder="Frase relacionada" class="ion-margin-start"></ion-input>

        <ion-button color="danger" fill="clear" (click)="removerIconeFrase(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </div>

  <ion-button expand="block" fill="outline" (click)="adicionarIconeFrase()">
    Adicionar Ícone + Frase
  </ion-button>
</div>


  <!-- Botão Cadastrar -->
  <ion-button expand="block" color="primary" class="btn-cadastro" [disabled]="enviando || enviado" (click)="enviar()">
    <ion-spinner *ngIf="enviando" name="crescent"></ion-spinner>
    <span *ngIf="!enviando && !enviado">SALVAR</span>
    <ion-icon *ngIf="enviado" name="checkmark-circle" class="check-icon"></ion-icon>
  </ion-button>

</ion-content>
