<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>SELEÇÃO DE SERVIÇOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Serviços Disponíveis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="service-list-container">
        <ion-list>
          <ion-item
            *ngFor="let service of serviceOptions"
            (click)="addService(service)"
            button
            lines="inset"
          >
            <ion-icon name="cut-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>{{ service.desc }}</h3>
              <p>
                Tempo: {{ service.time }} min • Preço: R$ {{ service.price }}
              </p>
            </ion-label>
            <ion-icon
              name="add-circle-outline"
              color="primary"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedServices.length > 0">
    <ion-card-header>
      <ion-card-title>Serviços Selecionados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="service-chips">
        <ion-chip
          *ngFor="let selected of selectedServices; let i = index"
          color="primary"
          outline
        >
          <ion-label>{{ selected.desc }}</ion-label>
          <ion-icon
            name="close-circle"
            (click)="removeService(i)"
            color="danger"
          ></ion-icon>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-item lines="inset">
    <ion-label position="floating">Observação</ion-label>
    <ion-textarea [(ngModel)]="observacao" name="observacao"></ion-textarea>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Forma de Pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="formaPagamento" name="formaPagamento" value="">
        <ion-segment-button value="1">
          <ion-icon name="cash-outline"></ion-icon>
          <ion-label>Dinheiro</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-label>Pix</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-icon name="card-outline"></ion-icon>
          <ion-label>Cartão</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Total:</ion-label>
          <ion-note slot="end">{{ totalPriceString }}</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Tempo Estimado:</ion-label>
          <ion-note slot="end">{{ totalTimeString }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button
    expand="block"
    class="ion-margin-top"
    routerLink="/queue"
    size="large"
    color="primary"
  >
    <ion-icon name="log-in-outline" slot="start"></ion-icon>
    Confirmar Serviços
  </ion-button>
</ion-content>
