<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>FILA ATUAL</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="clientes?.length === 0" class="empty-queue-message">
    <ion-icon name="refresh-outline" (click)="carregarClientes()" class="clickable"></ion-icon>
    <p>Não há clientes na fila</p>
  </div>



  <div *ngFor="let cliente of clientes" class="card-cliente">
    <div class="card-content">
      <h3>{{ cliente.nome }}</h3>
      <p class="servico">{{ cliente.servicos }}</p>

      <div class="info-extra">
        <div class="tempo-espera">
          <ion-icon name="time-outline"></ion-icon>
          <span>Entrou na fila: {{ cliente.hora }}</span>
        </div>

        <div class="pagamento">
          <ion-icon [name]="getIconPagamento(cliente.pagamento)"></ion-icon>
          <span>{{ cliente.pagamento }}</span>
        </div>

        <div class="espera">
          <ion-icon name="person-circle"></ion-icon>
          <span>{{ calcularTempoEspera(cliente.hora) }}</span>
        </div>
      </div>

      <div class="botoes">
        <ion-button
          color="medium"
          size="small"
          fill="outline"
          (click)="openRemoveConfirmation()"
        >
          Remover
        </ion-button>
        <ion-button
          size="small"
          (click)="startQRCodeScan(cliente)"
          [color]="cliente.emAtendimento ? 'warning' : 'primary'"
        >
          <ion-icon
            [name]="cliente.emAtendimento ? 'time-outline' : 'walk-outline'"
            slot="start"
            style="color: white;"
          ></ion-icon>
          {{ cliente.emAtendimento ? 'Em Atendimento' : 'Atender' }}
        </ion-button>
 
        <ion-button *ngIf="true"
          size="small"
          color="success"
          (click)="openWhatsapp(cliente)"
          class="whatsapp-button"
        >
          <ion-icon name="logo-whatsapp"></ion-icon>
          WhatsApp
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-menu></app-footer-menu>
