<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>FILA ATUAL
      <span class="header-date">{{ currentDate | date:'dd/MM/yyyy' }}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadAllCustomersInQueueByEmployeeAndStoreId()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="clients?.length === 0" class="empty-queue-message">
    <ion-icon name="refresh-outline" (click)="loadAllCustomersInQueueByEmployeeAndStoreId()" class="clickable"></ion-icon>
    <p>Não há clientes na fila</p>
  </div>

  <div *ngFor="let client of clients" class="card-cliente">
    <div class="card-content">
      <h3>{{ client.name }}</h3>
      <p class="servico">{{ client.services }}</p>

      <div class="info-extra">
        <div class="tempo-espera">
          <ion-icon name="time-outline"></ion-icon>
          <span>Entrou na fila: {{ client.timeGotInQueue }}</span>
        </div>

        <div class="pagamento">
          <ion-icon [name]="client.paymentIcon"></ion-icon>
          <span>{{ client.payment }}</span>
        </div>

        <div class="espera">
          <ion-icon name="person-circle"></ion-icon>
          <span>{{ calcularTempoEspera(client.timeGotInQueue) }}</span>
        </div>
      </div>

      <div class="botoes">
        <ion-button
          color="medium"
          size="small"
          fill="outline"
          (click)="openRemoveConfirmation()"
        >
          Remover
        </ion-button>
        <ion-button
          size="small"
          (click)="startQRCodeScan(client)"
          [color]="client.inService ? 'warning' : 'primary'"
        >
          <ion-icon
            [name]="client.inService ? 'time-outline' : 'walk-outline'"
            slot="start"
            style="color: white;"
          ></ion-icon>
          {{ client.inService ? 'Em Atendimento' : 'Atender' }}
        </ion-button>
 
        <ion-button *ngIf="true"
          size="small"
          color="success"
          (click)="openWhatsapp(client)"
          class="whatsapp-button"
        >
          <ion-icon name="logo-whatsapp"></ion-icon>
          WhatsApp
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab 
  vertical="bottom" 
  horizontal="end" 
  slot="fixed" 
  class="add-fab"
>
  <ion-fab-button color="primary">
    <ion-icon name="add-circle-outline" class="icon-white"></ion-icon>
  </ion-fab-button>
</ion-fab>

<app-footer-menu></app-footer-menu>
