<app-custom-header
  [title]="'FILA ATUAL'"
  [subtitle]="(currentDate | date:'dd/MM/yyyy') || ''"
  [showStartButton]="true"
  [startIconName]="'arrow-back-outline'"
  [showEndButton]="true"
  [endIconName]="'refresh-outline'"
  [endLoading]="isLoading"
  [showPausePlayButton]="true"
  (onPausePlayClick)="pauseQueue()"
  [isPaused]="isPaused"
  (onEndClick)="loadAllCustomersInQueueByEmployeeAndStoreId()"
>
</app-custom-header>

<ion-content>
  <div *ngIf="clients?.length === 0" class="empty-queue-message">
    <ion-icon
      name="refresh-outline"
      (click)="loadAllCustomersInQueueByEmployeeAndStoreId()"
      class="clickable"
    ></ion-icon>
    <p>Não há clientes na fila</p>
  </div>

  <div *ngFor="let client of clients" class="card-cliente">
    <div class="badge-container">
      <ion-badge *ngIf="client.canEditName" color="warning">Avulso</ion-badge>
      <ion-badge *ngIf="client.pricePending" color="danger">Preço Pendente</ion-badge>     
    </div>

    <div class="card-top-actions">
      <ion-button
        *ngIf="canEditCustomerPriceAndTime(client)"
        fill="clear"
        size="small"
        (click)="openServiceConfig(client)"
        class="config-button"
        title="Configurar serviço"
      >
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        size="small"
        (click)="callCustomer(client)"
        class="call-button"
        title="Chamar cliente"
      >
        <ion-icon name="megaphone-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="card-content">

      <!-- <ion-item *ngIf="client.status === 6" class="approval-alert" lines="none">
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label>
          <strong>Pedido aguardando aprovação</strong>
        </ion-label>
      </ion-item> -->

      <div class="client-header">
        <div class="name-wrapper">
          <ng-container *ngIf="editingNameMap[client.id]; else showName">
            <ion-input
              [(ngModel)]="editedNames[client.id]"
              placeholder="Digite o nome"
              class="edit-name-input"
              [autofocus]="true"
              (ionBlur)="saveEditedName(client)"
            ></ion-input>

            <div class="edit-actions">
              <ion-button fill="clear" size="small" (click)="saveEditedName(client)">
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" (click)="cancelEditName(client.id)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
          </ng-container>
          <ng-template #showName>
            <h3>{{ client.name }}</h3>
            <ion-icon
              *ngIf="client.canEditName"
              name="pencil-outline"
              class="icon-edit"
              (click)="enableEditName(client)"
            ></ion-icon>
          </ng-template>
        </div>
      </div>

      <p class="servico">{{ getServiceDescriptions(client) }}</p>

      <div class="time-info">
        <div class="time-entry">
          <ion-icon name="time-outline"></ion-icon>
          <span>Entrou: {{ client.timeGotInQueue }}</span>
        </div>

        <div *ngIf="client.timeCalledInQueue" class="time-called">
          <ion-icon name="megaphone-outline"></ion-icon>
          <span>Chamada: {{ client.timeCalledInQueue }}</span>
        </div>
      </div>

      <div class="additional-info">
        <div class="info-item">
          <ion-icon [name]="client.paymentIcon"></ion-icon>
          <span>{{ client.payment }}</span>
        </div>

        <div class="info-item">
          <ion-icon name="person-circle"></ion-icon>
          <span>{{ calculateWaitingTime(client.timeGotInQueue) }}</span>
        </div>
      </div>

      <div class="action-buttons">
        <ion-button
          color="medium"
          size="small"
          fill="outline"
          (click)="openRemoveConfirmation(client)"
        >
          Remover
        </ion-button>

        <ion-button
          [disabled]="client.pricePending || (isAnyClientInService && !client.inService)"
          *ngIf="!isPaused"
          class="start-service-button"
          fill="solid"
          size="small"
          (click)="confirmStartService(client)"
          [color]="client.inService ? 'warning' : 'primary'"
        >
          <ion-icon
            [name]="client.inService ? 'time-outline' : 'walk-outline'"
            slot="start"
          ></ion-icon>
          {{ client.inService ? 'Atendendo' : 'Atender' }}
        </ion-button>

        <ion-button
          size="small"
          color="success"
          *ngIf="store?.whatsAppNotice"
          (click)="openWhatsapp(client)"
          class="whatsapp-button"
        >
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="add-fab">
  <ion-fab-button color="primary" (click)="addCustomerToQueue()">
    <ion-icon name="add-outline" class="icon-white"></ion-icon>
  </ion-fab-button>
</ion-fab>
<app-footer-menu></app-footer-menu>
