/* Page layout */
.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8; /* Fundo da página */
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.forgot-password-container {
    background: #FFFFFF; /* Cor de fundo do contêiner */
    border-radius: 0px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Centraliza o contêiner */
}

.forgot-password-logo {
    text-align: center;
    margin-bottom: 2rem; /* Espaço abaixo da logo */
}

.logo {
    width: 100px; /* Ajusta a largura da logo */
}

/* Form styling */
.forgot-password-form {
    text-align: center; /* Centraliza o texto no formulário */
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #484745;
    margin: 1rem 0; /* Margens para espaçamento */
}

.paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #484745;
    margin-bottom: 1rem; /* Espaço abaixo do parágrafo */
}

/* Input styling */
.forgot-password-form ion-item {
    margin-bottom: 1rem; /* Espaço abaixo do input */
    border: 1px solid #E0E0E0; /* Borda do input */
    border-radius: 10px; /* Bordas arredondadas */
}

.forgot-password-form ion-input {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333;
}

/* Button styling */
.forgot-password-actions .ion-button {
    background-color: #FF5678; /* Cor do botão */
    border-radius: 50px; /* Bordas arredondadas */
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.forgot-password-actions .ion-button:hover {
    background-color: #E95468; /* Cor ao passar o mouse */
}

/* Link para login */
.login-link {
    margin-top: 1.5rem; /* Espaço acima do link */
}

.login-link p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #888;
}

.login-link a {
    color: #FF5678; /* Cor do link */
    text-decoration: none; /* Remove sublinhado */
}
