
.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8; 
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.forgot-password-container {
    background: #FFFFFF; 
    border-radius: 0px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
}

.forgot-password-logo {
    text-align: center;
    margin-bottom: 2rem; 
}

.logo {
    width: 100px; 
}


.forgot-password-form {
    text-align: center; 
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #484745;
    margin: 1rem 0; 
}

.paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #484745;
    margin-bottom: 1rem; 
}


.forgot-password-form ion-item {
    margin-bottom: 1rem; 
    border: 1px solid #E0E0E0; 
    border-radius: 10px; 
}

.forgot-password-form ion-input {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333;
}


.forgot-password-actions .ion-button {
    background-color: #FF5678; 
    border-radius: 50px; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.forgot-password-actions .ion-button:hover {
    background-color: #E95468; 
}


.login-link {
    margin-top: 1.5rem; 
}

.login-link p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #888;
}

.login-link a {
    color: #FF5678; 
    text-decoration: none; 
}
