<ion-content class="ion-padding forgot-password-page" scroll="false">
  <div class="forgot-password-header">
    <div class="logo-wrapper">
      <img src="assets/images/splash/Logo.svg" alt="Logo" class="logo" />
    </div>
  </div>

  <div class="forgot-password-container">
    <div class="go-back">
      <a routerLink="/login">
        <img src="assets/images/create-account/icon-go-back.svg" alt="Icon go back" />
      </a>
    </div>

    <div class="forgot-password-form">
      <h1 class="title">Esqueceu a senha?</h1>
      <p class="paragraph">Insira o e-mail utilizado no momento da criação.</p>

      <form #emailForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item lines="none">
          <ion-input
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="E-mail*"
            required
            email
            #emailInput="ngModel"
          ></ion-input>
        </ion-item>

        <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
          <small *ngIf="emailInput.errors?.['required']">E-mail é obrigatório.</small>
          <small *ngIf="emailInput.errors?.['email']">Informe um e-mail válido.</small>
        </div>

        <div class="forgot-password-actions">
          <ion-button expand="full" type="submit" [disabled]="emailForm.invalid">
            Recuperar
          </ion-button>
        </div>

        <div class="login-link">
          <p>Já tem conta? <a routerLink="/login"> Faça login</a></p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
