<app-custom-header
  title="SELECIONE A FILA"
  [showStartButton]="true"
  startIconName="arrow-back"
  (onEndClick)="openStoreDetails()"
  endIconName="storefront-outline"
  [showEndButton]="true"
></app-custom-header>

<div class="header-loja-dinamico">
  <div class="banner-loja" *ngIf="store?.storeLogoPath">
    <img
      [src]="store?.storeLogoPath"
      alt="Banner da loja"
      class="banner-image"
    />
  </div>
  <div class="info-loja">
    <img
      [src]="store?.storeLogoPath || 'assets/images/utils/default-logo.png'"
      (load)="logoLoaded = true"
      [class.loaded]="logoLoaded"
      class="logo-loja shimmer"
    />
    <div *ngIf="!logoLoaded" class="shimmer-placeholder logo-placeholder"></div>

    <h2 class="nome-loja">
      {{ store?.name }}
      <ion-icon
        *ngIf="store?.isVerified"
        name="checkmark-circle"
        class="verified-icon"
        color="primary"
      >
      </ion-icon>
    </h2>

    <p class="descricao-loja">{{ store?.subtitle }}</p>
  </div>
</div>

<ion-content class="scroll-area">
  <div
    class="filas-wrapper"
    *ngIf="store?.professionals?.length; else semFilas"
  >
  <ion-card class="fila-card" *ngFor="let queue of store?.professionals" (click)="getInTheQueue(queue)">
    
    <div class="card-header">
      <div class="status-badge" [ngClass]="getStatusClass(queue.status)">
        <ion-icon [name]="queue.status === StatusQueueEnum.paused ? 'pause-circle' : 'checkmark-circle'"></ion-icon>
        <span>{{ queue.status === StatusQueueEnum.paused ? 'Pausada' : 'Aberta' }}</span>
        <ion-icon *ngIf="queue.status === StatusQueueEnum.paused" name="help-circle-outline" 
                  (click)="openPauseReason(queue, $event)"></ion-icon>
      </div>
      
      <!-- <div class="like-icon">
        <ion-icon [name]="queue.liked ? 'heart' : 'heart-outline'" color="danger" 
                  (click)="toggleLike(queue, $event)"></ion-icon>
      </div>
       -->
      <div class="professional-info">
        <h2 class="nome-profissional">{{ queue.name }}</h2>
        <p class="nome-fila">{{ queue.queueName }}</p>
      </div>
    </div>
  

    <ion-card-content>
      <p class="subtitulo">{{ queue.subtitle || 'Serviço disponível' }}</p>
      

      <div class="queue-progress-container">
        <div class="progress-info">
          <span>{{ queue.customersWaiting || 0 }} pessoas na fila</span>
          <span>{{ queue.averageWaitingTime | slice:0:5 || '--' }} min</span>
        </div>
        <div class="barra-progresso-wrapper" [attr.title]="getStatusFilaTexto(queue.customersWaiting)">
          <div class="barra-progresso" 
               [style.width.%]="getProgressoFila(queue.customersWaiting)"
               [ngStyle]="{ 'background-color': getCorProgresso(queue.customersWaiting) }"></div>
        </div>
      </div>
      

      <div class="additional-info">
        <ion-chip *ngIf="queue.servicesProvided" class="service-chip">
          <ion-icon name="construct-outline"></ion-icon>
          <ion-label>{{ queue.servicesProvided }}</ion-label>
        </ion-chip>
        
        <ion-chip class="time-chip">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>Tempo médio: {{ queue.averageWaitingTime | slice:0:5 || '--' }} min</ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
  </div>

  <ng-template #semFilas>
    <div class="mensagem-vazia">
      <p>Nenhuma fila disponível no momento.</p>
    </div>
  </ng-template>
</ion-content>

<app-footer-menu></app-footer-menu>
