.container {
  background-color: var(--ion-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-company-info {
  background-color: #000000;
  padding: 1rem;
  text-align: center;
  position: sticky; 
  top: 0; 
  z-index: 10; 
}

.logo-circle {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  overflow: hidden; 
  margin: 0 auto 1rem auto; 
  border: 2px solid #007bff; 
}

.logo-img {
  width: 100%; 
  height: auto; 
}

.scrollable-content {
  flex: 1; 
  overflow-y: auto; 
  padding-top: 0rem;
  padding-bottom: 8rem; 
}

.cards-companies {
  width: 90%;
  margin: 2rem auto;
}

.box {
  background: #FBFBFB;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  margin: 1rem 0;
}

.box:hover {
  background-color: #FFFFFF;;
}

.card-bg-blue {
  background-color: var(--ion-color-primary);
  padding: 2rem 0;
  border-radius: 10px 10px 0 0;
}

.card-bg-blue h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
}

.description-card {
  padding: 0rem;
}

.description-card h1 { 
  font-size: 2rem;
  color: #FFFFFF;
}

.description-card h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  color: #FFFFFF;
}

.description-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #FF0000;
}


.menu-fixed-bottom {
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #E8E8E8;
}

.content-menu-border {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.go-init ion-icon,
.go-fila ion-icon,
.go-config ion-icon {
  font-size: 25px;
  color: #007bff; 
}

.go-init ion-label,
.go-fila ion-label,
.go-config ion-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #8A8A8A;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.menu-fixed-bottom {
  background-color: white;
  border-top: 1px solid #E8E8E8;
}

.content-menu-border {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.go-init,
.go-fila,
.go-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-icon {
  font-size: 24px;
}

ion-label {
  margin-top: 5px;
  font-size: 12px;
  text-transform: uppercase;
  color: #8A8A8A;
}

ion-label a {
  text-decoration: none;
  color: #007bff;
  font-size: 12px;
}

ion-card-title {
  text-align: center;
}

.card-bg-blue ion-card-title {
  color: white;
}
