<ion-content class="ion-padding register-page" scroll="false">
  <div class="register-header">
    <div class="logo-wrapper">
      <img src="assets/images/splash/Logo.svg" alt="Logo" class="logo" />
    </div>
  </div>

  <div class="register-container">
    <div class="go-back">
      <a routerLink="/login">
        <img src="assets/images/create-account/icon-go-back.svg" alt="Icon go back" />
      </a>
    </div>
    <h1 class="title">Criar Nova Conta</h1>
    <p class="subtitle">Preencha os dados para continuar</p>

    <form (submit)="onSubmit($event)">
      <div class="input-group">
        <ion-input type="text" placeholder="Nome *" required [(ngModel)]="name" name="name"></ion-input>
      </div>

      <div class="input-group">
        <ion-input type="text" placeholder="Sobrenome*" required [(ngModel)]="lastname" name="lastname"></ion-input>
      </div>

      <div class="input-group">
        <ion-input type="text" placeholder="CPF*" required [(ngModel)]="cpf" name="cpf"></ion-input>
      </div>

      <div class="input-group">
        <ion-input type="email" placeholder="E-mail*" required [(ngModel)]="email" name="email"></ion-input>
      </div>

      <div class="input-group">
        <ion-input type="tel" placeholder="Telefone*" required [(ngModel)]="phone" name="phone"></ion-input>
      </div>

      <div class="input-group">
        <ion-input type="password" placeholder="Senha*" required [(ngModel)]="password" name="password"></ion-input>
      </div>

      <div class="input-group">
        <ion-input type="password" placeholder="Confirmar senha*" required [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
      </div>

      <div class="input-check-validation">
        <ion-checkbox slot="start" required [(ngModel)]="termsAccepted" name="termsAccepted"></ion-checkbox>
        <label>Política de Privacidade e Termos de Uso</label>
      </div>

      <div class="submit-button">
        <ion-button expand="full" type="submit">Cadastrar</ion-button>
      </div>

      <div class="back-to-login">
        <a routerLink="/login">Já tem conta? <strong>Entrar</strong></a>
      </div>
    </form>
  </div>
</ion-content>
