<div class="menu-content">
  <div class="user-info">
    <ion-avatar>
      @if (userFromSession && userFromSession.imageUrl) {
      <img [src]="userFromSession.imageUrl" alt="Avatar do usuário" />
      } @else {
      <ion-icon name="person-circle-outline"></ion-icon>
      }
    </ion-avatar>
    <div style="margin-left: 20px">
      <div class="user-name">{{ userName }}</div>

      <div
        class="profile-badge"
        [ngClass]="{
          'client-badge': profile === 0,
          'professional-badge': profile === 1,
          'owner-badge': profile === 2
        }"
      >
        {{
          profile === 0
            ? "Cliente"
            : profile === 1
            ? "Profissional"
            : "Proprietário"
        }}
      </div>
      <div class="queue-status" *ngIf="profile === 1">
        <span *ngIf="customersWaiting > 0"
          >{{ customersWaiting }} pessoa(s) aguardando</span
        >
        <span *ngIf="customersWaiting === 0"
          >Ninguém aguardando atendimento</span
        >
      </div>
      <div class="queue-status" *ngIf="profile === 2">
        {{ queues }} fila(s) aberta(s) na(s) loja(s)
      </div>
      <div class="queue-status" *ngIf="profile === 0">
        <span *ngIf="queues > 0">Aguardando em {{ queues }} fila(s)</span>
        <span *ngIf="queues === 0">Você não está em nenhuma fila</span>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-menu-toggle auto-hide="true">
      <ng-container
        *ngIf="
          userFromSession?.profile === 0 ||
          (userFromSession?.profile === 2 && profile === 0) ||
          (userFromSession?.profile === 1 && profile === 0)
        "
      >
        <ion-item (click)="navigateTo('/select-company')" detail="false">
          <ion-icon name="storefront-outline" slot="start"></ion-icon>
          <ion-label>Estabelecimentos</ion-label>
        </ion-item>

        <ion-item (click)="navigateTo('/user-configurations')" detail="false">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configurações Conta</ion-label>
        </ion-item>

        <ion-item (click)="navigateTo('/client-history')" detail="false">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>Histórico</ion-label>
        </ion-item>

        <ion-item
          (click)="navigateTo('/role-registration')"
          detail="false"
          class="menu-item-with-badge disabled-item"
        >
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>Avaliação Atendimento</ion-label>
          <span class="menu-badge">EM BREVE</span>
        </ion-item>

        <ion-item
          (click)="navigateTo('/waiting-rooms-queue')"
          detail="false"
          class="menu-item-with-badge disabled-item"
        >
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
          <ion-label>Mensagens</ion-label>
          <span class="menu-badge">EM BREVE</span>
        </ion-item>
      </ng-container>

      <ion-item
        *ngIf="userFromSession?.profile === 1 || userFromSession?.profile === 2"
        (click)="navigateTo('/role-registration')"
        detail="false"
      >
        <ion-icon name="swap-vertical" slot="start"></ion-icon>
        <ion-label>Trocar perfil</ion-label>
      </ion-item>

      <ng-container
        *ngIf="
          profile === 1 || (userFromSession?.profile === 2 && profile === 1)
        "
      >
        <ion-item (click)="navigateTo('/user-configurations')" detail="false">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configurações Conta</ion-label>
        </ion-item>
        <ion-item (click)="navigateTo('/order-approval')" detail="false">
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          <ion-label>Liberação de Pedidos</ion-label>
        </ion-item>
        <ion-item (click)="navigateTo('/queue-admin')" detail="false">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Filas</ion-label>
        </ion-item>
        <ion-item
          (click)="navigateTo('/role-registration')"
          detail="false"
          class="menu-item-with-badge disabled-item"
        >
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
          <ion-label>Mensagens</ion-label>
          <span class="menu-badge">EM BREVE</span>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="profile === 2">
        <ion-item
          (click)="navigateTo('/company-configurations')"
          detail="false"
        >
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configurações Empresa</ion-label>
        </ion-item>
        <ion-item
          (click)="navigateTo('/associated-professional')"
          detail="false"
        >
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Colaboradores</ion-label>
        </ion-item>

        <ion-item (click)="navigateTo('/queue-admin')" detail="false">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          <ion-label>Filas</ion-label>
        </ion-item>

        <ion-item (click)="navigateTo('service-registration')" detail="false">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          <ion-label>Serviços/Produtos</ion-label>
        </ion-item>

        <ion-item
          (click)="navigateTo('/role-registration')"
          detail="false"
          class="menu-item-with-badge disabled-item"
        >
          <ion-icon name="bag-handle-outline" slot="start"></ion-icon>
          <ion-label>Promoções</ion-label>
          <span class="menu-badge">EM BREVE</span>
        </ion-item>

        <ion-item
          (click)="navigateTo('/role-registration')"
          detail="false"
          class="menu-item-with-badge disabled-item"
        >
          <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
          <ion-label>Mensagens</ion-label>
          <span class="menu-badge">EM BREVE</span>
        </ion-item>
      </ng-container>

      <ion-item
        *ngIf="userFromSession?.profile === 1 || userFromSession?.profile === 0"
        (click)="navigateTo('/company-configurations')"
        detail="false"
      >
        <ion-icon name="rocket-outline" slot="start"></ion-icon>
        <ion-label>Crie sua empresa</ion-label>
      </ion-item>

      <ion-item
        *ngIf="profile === 1 || profile === 0"
        (click)="navigateTo('/associated-professional')"
        detail="false"
      >
        <ion-icon name="briefcase-outline" slot="start"></ion-icon>
        <ion-label>Trabalhos</ion-label>
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>

  <div
    class="company-info clickable"
    *ngIf="profile > 0"
    (click)="navigateTo('/choose-establishment')"
  >
    <ng-container *ngIf="companyLogoPath; else defaultLogo">
      <img [src]="companyLogoPath" alt="Logo da empresa" class="company-logo" />
    </ng-container>
    <ng-template #defaultLogo>
      <div class="default-logo">
        <ion-icon name="business" size="large"></ion-icon>
      </div>
    </ng-template>
    <div class="company-message">
      <div class="company-name">{{ companyName }}</div>
      <div class="company-logged">Você está logado na empresa</div>
    </div>
  </div>

  <div class="menu-footer">
    <small>Versão: beta 1.0.0</small>
    <div class="footer-logo">
      <img
        src="assets/images/splash/logo.png"
        alt="Logo do sistema"
        class="logo"
      />
    </div>
  </div>

  <!-- <app-ad-banner [ad]="activeAd" class="tall-ad"></app-ad-banner> -->
</div>
