<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/role-registration"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>ESCOLHER EMPRESA</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="establishment-content">
  <div class="header-background-modern">
    <ng-container *ngIf="selectedHeaderImage; else defaultHeader">
      <ion-img [src]="selectedHeaderImage" class="header-img"></ion-img>
    </ng-container>
    <ng-template #defaultHeader>
      <div class="default-header">
        <div class="default-header-icon">
          <ion-icon name="business"></ion-icon>
        </div>
      </div>
    </ng-template>
    <div class="header-overlay"></div>
  </div>
  
  <div class="logo-wrapper">
    <ng-container *ngIf="selectedLogo; else defaultLogo">
      <ion-img [src]="selectedLogo"></ion-img>
    </ng-container>
    <ng-template #defaultLogo>
      <div class="default-logo">
        <ion-icon name="business"></ion-icon>
      </div>
    </ng-template>
  </div>

  <ion-card class="card-retratil">
    <div class="card-conteudo">
      <ion-list lines="full">
        <ion-item
          detail="false"
          class="custom-card"
          *ngFor="let establishment of establishments"
          lines="none"
          button
          (click)="selecionarEmpresa(establishment)"
        >
          <ion-icon [name]="establishment.icon" class="icon-depois"></ion-icon>

          <ion-label>
            <h2>{{ establishment.name }}</h2>
            <p>{{ establishment.storeSubtitle }}</p>
          </ion-label>

          <ion-icon
            name="enter-outline"
            (click)="$event.stopPropagation(); acessarEmpresa($event, establishment)"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>
</ion-content>